extends ./layout

block content

    .header
        h1  welcome, #{data.name}
        p  this is detail page about #{data.name}, enjoy~
    .container
        h2  #{data.text}


    .footer
        p @copyright 2016 gover520 & tuzkiss


