doctype
html
    head
        title Buynow demo
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        link(rel="styleSheet", href="/css/bootstrap.min.css")
        link(rel="styleSheet", href="/css/index.css")

        block css
    body

        block content

        block script


